<form [formGroup]="appToOps">
  <app-custom-input
    charType="text"
    [control]="appToOps.get('phoneNumber')"
    maskTypes="phoneNumber"
  ></app-custom-input>
  <app-custom-input
    charType="text"
    [control]="appToOps.get('email')"
    maskTypes="email"
  ></app-custom-input>
  <app-custom-input
    charType="text"
    [control]="appToOps.get('ifsc')"
    maskTypes="ifsc"
  ></app-custom-input>
  <!-- <div>
    {{ appToOps.value | json }}
  </div> -->
  <div>
    {{ appToOps.controls["phoneNumber"].errors | json }}
    <br />
    {{ appToOps.controls["email"].errors | json }}
    <br />
    {{ appToOps.controls["ifsc"].errors | json }}
  </div>
  <!-- <div>
    {{ appToOps.valid }}
  </div> -->
</form>
